<% if @post.errors.any? %>
    <div id="error_explanation">
        <div class="red-background">
            The form contain <%= pluralize(@post.errors.count, "error") %>       
        </div>
        <ul class="error-list">
            <%= @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>