<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="red-background">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul class="error-list">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>