@import "semantic-ui";
@import "../_variables.scss";
@import "../_mixins.scss";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/*   Body     */

body  {
    background-image:radial-gradient(#302e38e3, $black, #000000, #000000);
    width: 100%;
    height: 800px;
    color: white;
}

/*    Navbar      */

.navbar {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    top: 0;
    height: 140px;
    width: 100%;
    background-color: $black;
    &:hover {
        #orange-icon {
            color: $orange;
        }
        #pink-icon {
            color: $pink;
        }
        #red-icon {
            color: $red;
        }
        #purple-icon {
            color: $purple;
        }
        #blue-icon {
            color: $blue;
        }
        #green-icon {
            color: $green;
        }
        #yellow-icon {
            color: $yellow;
        }
    }
    .compact {
        background-color: $black;
        border-bottom: solid thin rgba(68, 67, 67, 0.411);
        border-left: solid thin rgba(68, 67, 67, 0.411);
        border-radius: 0;
    }
    .item {
        border: none;
        margin-top: 1em;
        p {
            color: white;
        }
        a {
            color: $black;
        }
    }
    #logo {
        font-size: 40px;
        width: 320px;
        border-left: none;
    }
    #search-box {
        width: 475px;
        display: flex;
        flex-direction: row;
        #searchbar {
            width: 65%;
            height: 45%;
            border-radius: 30px 0 0 30px;
            border: solid 2px white;
            border-right: none;
            background-color: $lightblack;
            padding-left: 2em;
            font-size: 20px;
            
        }
        #search {
            width: 15%;
            height: 45%;
            border-radius: 0 30px 30px 0;
            @include button-style;
            border-left:none ;
            &:hover {
                cursor: pointer;
            }
        }
        #speciali {
            position: absolute;
            right: 70px;
            z-index: 2;
            background-color: rgba(127, 255, 212, 0);
            height: 30px;
            width: 30px;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Rubik', sans-serif;
        border-bottom: solid thin rgba(68, 67, 67, 0.411);
        border-left: solid thin rgba(68, 67, 67, 0.411);
        a {
            text-decoration: none;
            color: white;
        }
        .icon {
            height: 40px;
            width: 40px;
            margin: 10px;
            color: white;
        }
    }
    .hover-div {
        &:hover {
            background-color: $lightblack;
            cursor: pointer;
        }
    }
}

/*      Forms       */

.inline {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    #session_remember_me {
        width: 5%;
    }
    span {
        margin-left: 1em;
    }
}
