@import "../variables";
@import "../mixins";

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-top: 2em;
        text-align: center;
    }
    li {
        display: flex;
        margin: 2em 0;
        border-bottom: solid 1px white;
        list-style: none;
        padding-bottom: 2em;
        align-items: baseline;
        a {
            margin-left: 1em;
            align-self: center;
            font-size: 25px;
            color: white;
            font-family: $font;
        }
    }
}