<div class=list-container>
    <h1 class="big-title">Posts</h1>
    
    <%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
   
    <ul class=posts>
        <% @posts.each do |post| %>
            <%= render post %>
        <% end %>
    </ul>
    
    <%= will_paginate @collection, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>
