$black: #100e17;
$lightblack: #201d2b;
$orange: #ff8a00;
$pink: #e52e71;
$red: #F44336;
$purple: #852496;
$blue: #03A9F4;
$green: #4CAF50;
$yellow: rgb(212, 240, 54);
$linear-gradient: linear-gradient(90deg,#ff8a00,#e52e71);
$font: 'Rubik', sans-serif;
