$black: #100e17;
$lightblack: #201d2b;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: $black;
   color: #ffffff;
}

body  {
    background-image:radial-gradient(#969696, $black, $lightblack);
    width: 100%;
    height: 650px;
    background-size: cover;

}


.navbar {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: fixed;
    top: 0;
    height: 140px;
    width: 100%;
    #logo {
        font-size: 40px;
        width: 320px;
        border-left: none;
    }
    #search-box {
        width: 475px;
        display: flex;
        flex-direction: row;
        #searchbar {
            width: 65%;
            height: 45%;
            border-radius: 30px 0 0 30px;
            border: solid 2px white;
            border-right: none;
            background-color: $lightblack;
            padding-left: 2em;
            font-size: 20px;
            
        }
        #search {
            width: 15%;
            height: 45%;
            border-radius: 0 30px 30px 0;
            background-image: linear-gradient(90deg,#ff8a00,#e52e71);
            border: solid 2px white;
            border-left:none ;
        }
        #speciali {
            position: absolute;
            right: 70px;
            z-index: 2;
            background-color: rgba(127, 255, 212, 0);
            height: 30px;
            width: 30px;
        }


    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Rubik', sans-serif;
        border-bottom: solid thin rgba(68, 67, 67, 0.411);
        border-left: solid thin rgba(68, 67, 67, 0.411);
        a {
            text-decoration: none;
        }
        .icon {
            height: 40px;
            width: 40px;
            margin: 10px;
            color: black;
        }
    }
}


    
    