@import "_variables.scss";
@import "_mixins.scss";

.button {
    @include button-style;
    display: flex;
    width: 8em;
    height: 2.5em;
    border-radius: 0 30px 30px 0;
    border: 0px;
    font-weight: bold;
    margin: 2em 0;
    cursor: pointer;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;   
}