@import "_variables.scss";
@import "_mixins.scss";

.home-content {
    display: grid;
    margin-top: 8em;
    margin-left: 20em;
    font-family: $font;
    .big-title {
        font-size: 50px;
        font-weight: bold;
    }
    p {
        margin-top: 25px;
        font-size: 20px;
    }
}
